[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
requests = "*"
bs4 = "*"
loguru = "*"
sqlalchemy = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
